{% extends 'app/base.html' %}
{% load static %}
{%block title%}Sobre nosotros{% endblock title%}


{% block main-content %}

<div class = "container mt-3">
    <br>
    <h2 class = "text-center"> Sobre Nosostros </h2>
    <br>
    <div class= "row container">
        <p   class = "fs-4 text-center"> 
            El cuento de Bookstore comenzó en el vibrante y literario año 2023, cuando cuatro jóvenes soñadores,
            John, Laura, Oscar y Alexander, se unieron con una visión audaz: crear una librería que trascendiera 
            las páginas y los estantes para convertirse en un epicentro cultural en el corazón de la ciudad.
            <br>
            Jhon, el apasionado de la narrativa, Laura, amante de la poesía y las letras enrevesadas, Oscar, el 
            erudito de los clásicos, y Alexander, el gurú de la tecnología, se embarcaron en un viaje lleno de 
            pasión y determinación. Con sus ahorros y un fuerte deseo de compartir su amor por los libros con el 
            mundo, encontraron un pequeño espacio en el corazón del distrito artístico. El lugar era un rincón olvidado,
            pero a través de meses de esfuerzo y dedicación, lo transformaron en un santuario literario que pronto se
            convertiría en un punto de encuentro para la comunidad.
            <br>
            Bookstore no es solo una librería, es un faro de creatividad y conexión. En su interior, los estantes repletos
            de historias de todas las épocas y géneros te invitan a explorar mundos desconocidos. Pero eso no es todo: aquí,
            también encontrarás acogedores rincones para la lectura, eventos literarios que llenan de vida sus noches y un 
            café que sirve no solo café caliente, sino también ideas e inspiración.
            <br>
            El viaje de estos cuatro jóvenes soñadores ha sido un homenaje a la literatura y la pasión. Desde sus modestos comienzos, 
            Bookstore se ha convertido en un faro cultural que ilumina los corazones y las mentes de quienes entran por sus puertas. 
            Como guardianes de la palabra escrita, su compromiso es claro: abrir las puertas a la imaginación, celebrar la diversidad 
            literaria y compartir la magia de los libros. ¡Únete a ellos en esta travesía literaria que comenzó con cuatro amigos y un sueño compartido!</p>
    </div>         
</div>
<br><br>
{%endblock main-content%}